<h1>Help</h1>
<p>
  To set up your intellifridge, follow these steps:
  <ol>
	
	<li>Go to the <%= link_to "Sign-Up", new_user_path %> page to register a new user</li>
	<li>Choose the items you would like to store in shelves 1 & 2 and type the names in the signup form (ie: Milk)</li>
	<li>Select the meaurement unit you would like for each product (ie: L)</li>
	<li>Get the intellifridge connect number off of the product and enter it in the appropriate field</li>
	<li>Finish sign in and view your current inventory</li>
	<li>At any time you can edit your settings or <%= link_to "sign in", signin_path %> to view your inventory</li>
  </ol>
</p>